.sidebar{
    background-color: #015BC4;
    color: #fff;
    margin: 12px ;
    height: 96%;
    border-radius: 12px;
    width: 19.7%;
    display: flex;
    justify-content: center;

    .sidebar-content{
        display: flex;
        margin-top: 30px;
        width: 90%;
        height: 39.83%;
        flex-direction: column;

        a{
            list-style: none;
            padding: 0.8rem;
            font-size: 0.8rem;
            cursor: pointer;
            font-weight: 600;
            text-decoration: none;
            color: #fff;

        //     &:hover{
        //     width: 87%;
        //     border-radius: 0.5rem;
        //     border: 1px solid rgba(255, 255, 255, 0.20);
        //     background: rgba(255, 255, 255, 0.10);
        //   }
        }
        .active{
            width: 87%;
            border-radius: 0.5rem;
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: rgba(255, 255, 255, 0.10);
          }
    }
  }
  
